/*
    This style sheet stylizes the controls inside our
    goLogoLo JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    @author Richard McKenna
    @author ?
    @version 1.0
*/

.color-picker {
    -fx-padding: 2px;
}

.edit_toolbar_row {
    -fx-padding: 0px;
    -fx-spacing: 10;
    -fx-background-color: #0E0B16;
    -fx-background-radius: 5.0;
    -fx-padding: 10;
    -fx-border-width: 2px;
    -fx-border-color: #ffffff;
    -fx-text-alignment: center;
    -fx-font-size:13; 
}

.color_chooser_pane {
    -fx-background-color:#88D317;
    -fx-padding: 0px;
    -fx-text-alignment: center;
}

.color_chooser_control {
    -fx-font-weight:bold;
    -fx-font-size:25; 
    -fx-font-color: #88D317;
    -fx-text-alignment: center;    
}

.bordered_pane {
    -fx-background-color: #0E0B16;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #ffffff;
    -fx-font-color: #88D317;
    -fx-text-alignment: center;
}